<h3>Who is working with who on what?</h3>

<div class="progressiveGraphContainer">
  <div class="progressiveGraph">
    Graph 1
  </div>
  <div class="progressiveGraph">
    Graph 2
  </div>
  <div class="progressiveGraph">
    Graph 3
  </div>
</div>
